*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --hue: 200;
  --saturation: 95%;
  --ligntness: 33%;
  --light: hsl(var(--hue), var(--saturation), calc(var(--ligntness) + 2%));
  --medium: hsl(var(--hue), var(--saturation), var(--ligntness));
  --dark: hsl(var(--hue), var(--saturation), calc(var(--ligntness) - 10%));
  --light-bg-doc: #f3f3f3;
  --doc-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  /* --primary-color: rgb(0, 102, 235);
  --primary-color-hue: hsl(214, 100%, 50%);
  --primary-color-saturation: hsl(214, 100%, 42%); */
  --primary-color-constrast: hsl(0, 0%, 96%);
  --primary-color: hsl(var(--hue), 70%, 36%);
  --primary-color-hue: hsl(var(--hue), 70%, 39%);
  --primary-color-saturation: hsl(var(--hue), 70%, 30%);

  --linear-bg: linear-gradient(
    180deg,
    var(--light),
    var(--medium) 70%,
    var(--dark)
  );
  --linear-bg-contrast: #fff;
  --fix-menu-button-bg: var(--primary-color);
  --fix-menu-button-bg-light: var(--primary-color-hue);
  --fix-menu-button-bg-contrast: #fff;
  --dark-black: #4e4d4d;

  --lg-size: 790px;
  --sm-size: 520px;
  --xs-size: 250px;
  --header-height: 64px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-bg-doc);
}

html,
body {
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p {
  line-height: 3rem;
}

h1 {
  line-height: 4.2rem;
  font-size: 1.9rem;
}

h2 {
  font-size: 1.68rem;
}
#text-editor {
  margin: auto;
}
#text-editor .ql-editor {
  --ql-editor-padding: 1in;
  width: 8.5in;
  max-width: calc(100vw - var(--ql-editor-padding, 1in));
  min-height: 11in;
  padding: var(--ql-editor-padding);
  margin: 1rem;
  box-shadow: var(--doc-box-shadow);
  background-color: white;
}

ul {
  margin: unset;
  padding: unset;
  list-style: none;
}

@media screen and (max-width: 790px) {
  #text-editor .ql-editor {
    --ql-editor-padding: 0.5in;
    max-width: calc(100vw - var(--ql-editor-padding, 1in));
    padding: var(--ql-editor-padding);
  }
}

.btn-unstyled {
  cursor: pointer;
  display: contents;
}
.unstyled-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  background: inherit;
  background-color: inherit;
}

#text-editor .ql-container {
  border: none;
  display: grid;
  place-content: center;
}

.mt-4 {
  margin-top: 4rem;
}
.form-submit-btn,
.form-control.form-submit-btn {
  width: 100%;
  /* max-width: 380px; */
  justify-content: flex-end;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.form-submit-btn > button {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
a {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

:focus-visible {
  outline: none;
  opacity: 0.8;
}
a:focus {
  outline: 1px solid var(--primary-color);
  outline-width: 1px;
  outline-color: var(--primary-color);
  outline-style: solid;
}
.small-space {
  max-width: var(--xs-size, 250px);
  margin-left: auto;
  margin-right: auto;
}

#text-editor .ql-toolbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  /* background-color: var(--light-bg-doc); */
  background: var(--linear-bg);
  color: var(--linear-bg-contrast);
  border: none;
  box-shadow: var(--doc-box-shadow);
  flex-wrap: wrap;
}

#text-editor .ql-toolbar.ql-snow .ql-formats .ql-stroke {
  stroke: var(--linear-bg-contrast);
}
#text-editor .ql-toolbar.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill,
#text-editor .ql-toolbar.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: var(--linear-bg-contrast);
}

#text-editor .ql-toolbar.ql-snow.ql-toolbar button,
#text-editor .ql-toolbar.ql-snow .ql-toolbar button,
#text-editor .ql-toolbar.ql-snow.ql-toolbar button,
#text-editor .ql-toolbar.ql-snow .ql-toolbar button,
#text-editor .ql-toolbar.ql-snow.ql-toolbar button.ql-active,
#text-editor .ql-toolbar.ql-snow .ql-toolbar button.ql-active,
#text-editor .ql-toolbar.ql-snow.ql-toolbar .ql-picker-label,
#text-editor .ql-toolbar.ql-snow .ql-toolbar .ql-picker-label,
#text-editor .ql-toolbar.ql-snow.ql-toolbar .ql-picker-label.ql-active,
#text-editor .ql-toolbar.ql-snow .ql-toolbar .ql-picker-label.ql-active,
#text-editor .ql-toolbar.ql-snow.ql-toolbar .ql-picker-item,
#text-editor .ql-toolbar.ql-snow .ql-toolbar .ql-picker-item,
#text-editor .ql-toolbar.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
#text-editor .ql-toolbar.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--linear-bg-contrast);
}
#text-editor .ql-toolbar.ql-snow.ql-toolbar button:hover,
#text-editor .ql-toolbar.ql-snow .ql-toolbar button:hover,
#text-editor .ql-toolbar.ql-snow.ql-toolbar button:focus,
#text-editor .ql-toolbar.ql-snow .ql-toolbar button:focus,
#text-editor .ql-toolbar.ql-snow.ql-toolbar button.ql-active,
#text-editor .ql-toolbar.ql-snow .ql-toolbar button.ql-active,
#text-editor .ql-toolbar.ql-snow.ql-toolbar .ql-picker-label:hover,
#text-editor .ql-toolbar.ql-snow .ql-toolbar .ql-picker-label:hover,
#text-editor .ql-toolbar.ql-snow.ql-toolbar .ql-picker-label.ql-active,
#text-editor .ql-toolbar.ql-snow .ql-toolbar .ql-picker-label.ql-active,
#text-editor .ql-toolbar.ql-snow.ql-toolbar .ql-picker-item:hover,
#text-editor .ql-toolbar.ql-snow .ql-toolbar .ql-picker-item:hover,
#text-editor .ql-toolbar.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
#text-editor .ql-toolbar.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: rgb(201, 197, 197);
}
#text-editor .ql-toolbar.ql-snow .ql-picker-options {
  background: var(--linear-bg);
}
@page {
  margin: 1in;
}

@media screen and (max-width: 950px) {
  #text-editor .ql-editor {
    margin-top: 0;
  }
}

@media print {
  body {
    background: none;
  }
  #text-editor .ql-editor {
    width: 6.5in;
    height: 9in;
    align-self: flex-start;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }
  #text-editor > .ql-toolbar {
    display: none;
  }
}

/*
FORM INPUTS AND LABEL
*/

.full-width,
.form-control.full-width {
  width: 100%;
  margin: 0;
}
.full-width-x,
.form-control.full-width-x {
  width: 100%;
  margin: 8px 0;
}
.form-control {
  display: flex;
  position: relative;
  border: 0;
  min-width: 25ch;
  display: inline-flex;
  padding: 0;
  position: relative;
  flex-direction: column;
  vertical-align: top;
  margin: 8px;
}
.label + .form-control {
  margin-top: 16px;
}
.label {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 0.9rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
  font-weight: bold;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.form-control *:not(label) {
  border: none;
  outline: none;
}

input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}

/* input:focus {
  outline: 1px dashed var(--primary-color);
} */

.input-underline::before {
  left: 0;
  right: 0;
  bottom: 0;
  content: '\00a0';
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  pointer-events: none;
}

.input-underline::after {
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #1976d2;
  pointer-events: none;
}

.label {
  display: block;
  transform-origin: top left;
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(0, 24px) scale(1);
}

.label-shrink {
  transform: translate(0, 1.5px) scale(0.75);
  transform-origin: top left;
}

.label-filled {
  z-index: 1;
  transform: translate(0px, 24px) scale(1);
  pointer-events: none;
}

.label-filled.hidden {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.container {
  max-width: var(--lg-size);
  width: 100%;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container .container-sm {
  max-width: var(--sm-size);
}

.form-actions {
  width: 100%;
  margin: -10px 0px 10px 0px;
}

.form-error-inner {
  margin: 1rem 0 0rem 0;
}

.card {
  background: rgb(255 255 255 / 95%);
  /* border-radius: 0.9em; */
  border-radius: 14px;
  box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 20%), 2px 2px 6px 1px rgb(0 0 0 / 15%);
  padding: 1.05rem;
  display: block;
}

a {
  line-height: 1.9rem;
  text-decoration: none;
}
.btn {
  cursor: pointer;
  padding: 8px 12px;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--primary-color-constrast);
  font-size: 1.2rem;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  line-height: 1.9rem;
  text-transform: uppercase;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--primary-color-saturation);
}
.user-menu-layout[white='true'] {
  border: 1px solid #ffffff;
}
.user-menu-layout {
  position: fixed;
  right: 10px;
  /* top: 5px; */
  top: 11px;
  padding: 5px 6px;
  border-radius: 50%;
  /* box-shadow: inset 0px 0px 5px 0px rgb(0 0 0 / 4%),
  inset 0px 0px 0px 1px rgb(0 0 0 / 7%); */
  /* background: rgb(220 220 220 / 81%); */
  color: white;
  display: grid;
  place-content: center;
  border: 2px solid var(--fix-menu-button-bg-light);
  background: var(--fix-menu-button-bg);
  z-index: 30000;
}

.user-menu-layout svg {
  /* transform: translateY(2px); */
  stroke: var(--fix-menu-button-bg-contrast);
}
::-webkit-scrollbar {
  display: none;
}
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.bg-linear {
  background: var(--linear-bg);
}
.bg-main {
  /* background: #f3f3f3; */
  background: #e6e6e6;
}

.mt-2 {
  margin-top: 2rem;
}
.vh-100 {
  height: 100vh;
}
.vh-50 {
  height: 50vh;
}
.error-text {
  color: red;
}
.btn.btn-info {
  background-color: hsl(197, 54%, 48%);
}
.btn.btn-info:hover {
  background-color: hsl(197, 54%, 45%);
}
.text-dark {
  color: var(--dark-black);
}
.text-size-md {
  font-size: 1.5rem;
}
.btn.btn-link {
  background-color: transparent;
  color: hsl(229, 69%, 43%);
  font-size: 1rem;
  text-transform: none;
  position: relative;
  font-weight: 600;
}
.btn.btn-link:hover::after {
  content: '';
  position: absolute;
  height: 1px;
  background: currentColor;
  bottom: 0;
  width: 80%;
  transform: translate(0px, -5px);
}
.btn.btn-link:hover,
.btn.btn-link:focus {
  background-color: transparent;
  color: hsl(229, 69%, 60%);
}

.btn.btn-sm {
  padding: 6px 8px;
}

.btn.btn-xs {
  padding: 2px 7px;
  font-size: 0.9rem;
}
.btn-danger {
  background: linear-gradient(45deg, hsl(346deg 52% 56%), hsl(352deg 65% 54%));
}
.btn.btn-danger:hover,
.btn.btn-danger:focus {
  background: linear-gradient(
    45deg,
    hsl(346deg, 52%, 50%),
    hsl(352deg, 65%, 48%)
  );
}

.no-upper {
  text-transform: none !important;
}

.btn.btn-logout {
  /* padding: 4px 5px; */
  background: linear-gradient(45deg, hsl(0, 92%, 61%), hsl(0, 100%, 60%));
}
.btn.btn-logout:hover {
  background: linear-gradient(45deg, hsl(0, 92%, 62%), hsl(0, 100%, 58%));
}
.btn.btn-logout svg {
  transform: translate(5px, -2px);
}

.heading-1 {
  font-size: 2.2rem;
  margin: 1.2rem 0;
}

.flex {
  display: flex;
}
.flex-end {
  justify-content: flex-end;
  align-items: center;
}
.text-center {
  text-align: center;
}
